body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.745), rgba(0, 0, 0, 0.9)),
            url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/rick-morty-birthday-party-theme-pickle-design-template-0dd8541083b7f2414728328178d1ccc9_screen.jpg?ts=1579709719'); /* Ajusta esta ruta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif, sans-serif;
        }

    h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 3em;
        }
