body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom,
                rgba(0,0,0,0.3) 0%,
                rgba(0,0,0,0.7) 60%,
                #000000 100%),
                url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/rick-morty-birthday-party-theme-pickle-design-template-0dd8541083b7f2414728328178d1ccc9_screen.jpg?ts=1579709719');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    }

body {
    min-height: 100vh;
    background-attachment: fixed;
    }

.tarjeta {
  width: 200px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  border-radius: 10px;
  box-shadow: 0 10 8px rgba(0,0,0,0.5); /* Sombra tipo Canva */
  text-align: center;
  color: white;
  margin: 20px;
}

.tarjeta img {
  width: 100%;
  border-radius: 8px;
}

.tarjeta p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    }

h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 3em;
    }

h2 {
    text-align: center;
    font-size: 2.5em;
}