<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Personajes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>
        <h1>PERSONAJES</h1>

        <h2>La serie de Rick and Morfy tine miles de personajes ser basada en un multuiverso, veamos algonos de ellos:</h2>
        <main>
            <div class="contenedor">
                {% for personaje in personajes %}
                    <div class="tarjeta" oneclick="abrirModal()">
                        <img src="{{personaje.imagen}}" alt="{{personaje.nombre}}">
                        <p>{{personaje.nombre}}</p>
                    </div>
                {% endfor %}
            </div>

            <div>
                <modal id="miModal" class="modal-contenido">
                    <div class="modal-contenido">
                        <span class="cerrar" onclick="cerrarModal()">x</span>
                        <h2>Información del Personaje</h2>
                        <p id="infoPersonaje"></p>
                    </div>
            </div>
        </main>
    </body>
</html>
