<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Personajes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>
        <h1>PERSONAJES</h1>

        <h2>La serie de Rick and Morfy tine miles de personajes ser basada en un multuiverso, veamos algonos de ellos:</h2>
        <main>
            <div class="contenedor">
                {% for personaje in personajes %}
                    <div class="tarjeta" onclick="abrirModal('{{ personaje.nombre, personaje.genero, personaje.lugar,episodio.nombre, episodio.fecha }}')">
                        <img src="{{personaje.imagen}}" alt="{{personaje.nombre}}">
                        <p>{{personaje.nombre}}</p>
                    </div>
                {% endfor %}
            </div>

            <div id="miModal" class="modal">
                    <div class="modal-contenido">
                        <span class="cerrar" onclick="cerrarModal()">X</span>
                        <h3 id="modalNombre"></h3>
                        <p id="infoPersonaje"></p>
                    </div>
            </div>

            <script>
                    function abrirModal(nombre) {
                        document.getElementById("miModal").style.display = "flex";
                        document.getElementById('modalNombre').innerText = 'Información de ' + nombre;
                        document.getElementById('infoPersonaje').innerText = 'Más detalles aquí...';
                    }

                    function cerrarModal() {
                        document.getElementById("miModal").style.display = "none";
                    }
            </script>

        </main>
    </body>
</html>
